<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="logPath" value="log" />
<!--    <add key="logFileName" value="/Users/roman/workspace/labkpo/lab1/files/testError1.log"/>-->
        <add key="dataFileName" value="/Users/roman/workspace/labkpo/lab1/files/input.txt" />
        <add key="readAndSaveMode" value="file" />
 </appSettings>
</configuration>
